{% extends "base.html" %}

{% block content %}

<body>
<div class="main">

    <h1>Login</h1>
    <div class="container">
        <div class="sign-up-content">
            <form method="POST" class="signup-form">
                <h2 class="form-title">Login</h2>
                {% csrf_token %}
                {% for field in form %}
                <div class="form-textbox">
                    <label>{{ field.label }}</label>
                    {{ field }}
                </div>
                {% endfor %}

                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="form-group g-recaptcha" data-sitekey="6Le1nSQaAAAAAIhrjI1ZqI0Bs7lmUh9zidoMt_gS"></div>

                <div class="form-textbox">
                    {{ form.errors }}
                </div>

                <div class="form-textbox">
                    <input type="submit" name="submit" id="submit" class="submit" value="Login"/>
                </div>
            </form>

            <p class="loginhere">
                New customer?<a href="{% url 'register' %}" class="loginhere-link"> Start here.</a>
            </p>
        </div>
    </div>

</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

{% endblock %}