{% extends "base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col col-5  mx-auto">
            <div class="mt-5 pb-5"></div>

            <div class="card">
                <div class="card-body">
                    {% if validlink %}

                    <form method="post" action=".">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <script src='https://www.google.com/recaptcha/api.js'></script>
                        <div class="form-group g-recaptcha"
                             data-sitekey="6Le1nSQaAAAAAIhrjI1ZqI0Bs7lmUh9zidoMt_gS"></div>

                        <input type="submit" value="{% trans 'Submit' %}"/>
                    </form>

                    {% else %}

                    <p>{% trans "Password reset failed" %}</p>

                    {% endif %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
