{% extends "base.html" %}

{% block content %}
<body>
<div class="main">

    <h1>Password change</h1>
    <div class="container">
        <div class="sign-up-content">
                <div class="form-textbox">
                    <label>Old password</label>
                    {% csrf_token %}
                    {{ form.old_password }}
                </div>

                <div class="form-textbox">
                    <label>New password</label>
                    {% csrf_token %}
                    {{ form.new_password1 }}
                </div>

                <div class="form-textbox">
                    <label>Re password</label>
                    {% csrf_token %}
                    {{ form.new_password2 }}
                </div>

                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="form-group g-recaptcha" data-sitekey="6Le1nSQaAAAAAIhrjI1ZqI0Bs7lmUh9zidoMt_gS"></div>

                <div class="form-textbox">
                    {{ form.errors }}
                </div>

                <div class="form-textbox">
                    <input type="submit" name="submit" id="submit" class="submit" value="Submit"/>
                </div>

            </form>
        </div>
    </div>

</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->{% endblock %}
